# VSCode config folder
.vscode

# build files (executables and intermediate output created by CMake)
build
debug

# data in directory reserved for experiments
data/.venv
data/uv.lock
data/*.csv
data/*Experiments/*/
data/*Experiments/*.png
