# VSCode config folder
.vscode

# build files (executables and intermediate output created by CMake)
build
debug

# data in directory reserved for experiments
data/.venv
data/*Experiments/*/
data/uv.lock
